<h4>{{t 'wallets.backup.title'}}</h4>
<p class="lead">{{t 'wallets.backup.lead'}}</p>
<p><code>{{mnemonic seed}}</code></p>
<p>
  {{#copy-button class="btn btn-sm btn-outline-danger" clipboardText=seed success=(action 'copySeed')}}
    {{fa-icon 'copy'}} {{t 'wallets.backup.copy'}}
  {{/copy-button}}
  {{#bs-button size='sm' type='outline-primary' class="ml-1" onClick=(action 'downloadMnemonic' (mnemonic seed))}}
    {{fa-icon 'download'}} {{t 'wallets.backup.download'}}
  {{/bs-button}}
</p>
<br>
<small class="text-muted">{{t 'wallets.backup.help'}}</small>
<button type="button" {{action onCancel}} class="btn btn-secondary btn-lg">{{t 'cancel'}}</button>
{{#bs-button onClick=(queue (action 'confirmDone' wallet seed) (action onDone wallet)) class="btn-lg" type="primary"}}
  {{#bs-popover triggerElement="parentView"}}
    {{t 'wallets.backup.confirm'}}
  {{/bs-popover}}
  {{#if needsConfirm}}
    {{fa-icon 'question-circle-o'}}
  {{else}}
    {{fa-icon 'check'}}
  {{/if}}
  {{t 'done'}}
{{/bs-button}}
