{{#bs-modal onHide=(route-action 'cancel') onSubmit=(route-action 'done' model.wallet) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">Backup Seed</h4>
  {{/modal.header}}
  {{#modal.body}}
    {{#each flashMessages.arrangedQueue as |flash|}}
      {{flash-message class="d-flex w-100" flash=flash}}
    {{/each}}
    <p class="lead">This is your easy to remember seed mnemonic for your new wallet:</p>
    <p><code>{{model.mnemonic}}</code></p>
    <p>
      {{#copy-button class="btn btn-sm btn-outline-danger" clipboardText=model.wallet.seed success=(route-action 'copySeed')}}
        {{fa-icon 'copy'}} Copy Seed
      {{/copy-button}}
      {{#bs-button class="ml-1 btn-sm btn-outline-danger" onClick=(route-action 'downloadMnemonic' model.mnemonic)}}
        {{fa-icon 'download'}} Download Mnemonic
      {{/bs-button}}
    </p>
    <p class="text-muted">
      It's best practice to physically write your seed mnemonic on a piece of paper and store it in a secure location for safe retrieval should you later lose your seed.
    </p>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="secondary"}}
      Cancel
    {{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="primary"}}
      {{fa-icon 'check'}}
      Done
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
