{{!-- <h1>{{t 'overview'}}</h1> --}}

{{!-- {{wallet-overview wallet=model accounts=model.accounts createAccount=(route-action 'createAccount') page=page perPage=perPage}} --}}
{{navigation-bar wallet=model createAccount=(route-action 'createAccount')}}

<main role="main">

    {{#unless showHistory}}
        {{total-amount wallet=model}}

        <section>
            <div class="container-fluid">
                <div class="row">
                    <hr>
                </div>
            </div>
        </section>
    {{/unless}}

    <section class="{{if showHistory 'history-show'}}">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {{#slick-slider autoplay=false slidesToShow=(if (lte model.accounts.length 3) 1 3) afterChange='afterChange' centerPadding='60px' centerMode=true slidesToScroll=1
                    arrows=true class="main-gallery"}} {{#each model.accounts as |account|}} {{gallery-slide model=account}}
                    {{/each}} {{/slick-slider}}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    {{#if showHistory}}
                        <a href="#" class="arrow" {{action 'toggleHistory'}}>{{fa-icon "chevron-down"}}</a>
                    {{else}}
                        <a href="#" class="arrow" {{action 'toggleHistory'}}>{{fa-icon "chevron-up"}}</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>

    {{#if showHistory}}
        <section>
            <div class="container-fluid">
                <div class="row history-item-list justify-content-md-center">
                    <div class="col-lg-10 col-sm-12 history-item send d-flex justify-content-around align-items-center">
                        {{fa-icon "paper-plane" ariaHidden=true}}
                        <p><sup><img src="images/nano-icon.svg" alt=""></sup>0.002461</p>
                        <p>
                            <span>xrb_17oqj</span>4rpads4o6ud448yymzk9jot8yzmzyeuteq3bj38cwjpt4rrgxhfx
                            <span>fr1</span>
                        </p>
                    </div>
                    <div class="col-lg-10 col-sm-12 history-item receive d-flex justify-content-around align-items-center">
                        {{fa-icon "envelope-open"}}
                        <p><sup><img src="images/nano-icon.svg" alt=""></sup>0.002461</p>
                        <p>
                            <span>xrb_17oqj</span>4rpads4o6ud448yymzk9jot8yzmzyeuteq3bj38cwjpt4rrgxhfx
                            <span>fr1</span>
                        </p>
                    </div>
                    <div class="col-lg-10 col-sm-12 history-item d-flex send justify-content-around align-items-center">
                        {{fa-icon "paper-plane" ariaHidden=true}}
                        <p><sup><img src="images/nano-icon.svg" alt=""></sup>0.002461</p>
                        <p>
                            <span>xrb_17oqj</span>4rpads4o6ud448yymzk9jot8yzmzyeuteq3bj38cwjpt4rrgxhfx
                            <span>fr1</span>
                        </p>
                    </div>
                    <div class="col-lg-10 col-sm-12 history-item d-flex receive justify-content-around align-items-center">
                        {{fa-icon "envelope-open"}}
                        <p><sup><img src="images/nano-icon.svg" alt=""></sup>0.002461</p>
                        <p>
                            <span>xrb_17oqj</span>4rpads4o6ud448yymzk9jot8yzmzyeuteq3bj38cwjpt4rrgxhfx
                            <span>fr1</span>
                        </p>
                    </div>
                    <div class="col-lg-10 col-sm-12 history-item send d-flex justify-content-around align-items-center">
                        {{fa-icon "paper-plane" ariaHidden=true}}
                        <p><sup><img src="images/nano-icon.svg" alt=""></sup>0.002461</p>
                        <p>
                            <span>xrb_17oqj</span>4rpads4o6ud448yymzk9jot8yzmzyeuteq3bj38cwjpt4rrgxhfx
                            <span>fr1</span>
                        </p>
                    </div>
                    <div class="col-lg-10 col-sm-12 history-item receive d-flex justify-content-around align-items-center">
                        {{fa-icon "envelope-open"}}
                        <p><sup><img src="images/nano-icon.svg" alt=""></sup>0.002461</p>
                        <p>
                            <span>xrb_17oqj</span>4rpads4o6ud448yymzk9jot8yzmzyeuteq3bj38cwjpt4rrgxhfx
                            <span>fr1</span>
                        </p>
                    </div>
                    <div class="col-lg-10 col-sm-12 history-item send d-flex justify-content-around align-items-center">
                        {{fa-icon "paper-plane" ariaHidden=true}}
                        <p><sup><img src="images/nano-icon.svg" alt=""></sup>0.002461</p>
                        <p>
                            <span>xrb_17oqj</span>4rpads4o6ud448yymzk9jot8yzmzyeuteq3bj38cwjpt4rrgxhfx
                            <span>fr1</span>
                        </p>
                    </div>
                    <div class="col-lg-10 col-sm-12 history-item receive d-flex justify-content-around align-items-center">
                        {{fa-icon "envelope-open"}}
                        <p><sup><img src="images/nano-icon.svg" alt=""></sup>0.002461</p>
                        <p>
                            <span>xrb_17oqj</span>4rpads4o6ud448yymzk9jot8yzmzyeuteq3bj38cwjpt4rrgxhfx
                            <span>fr1</span>
                        </p>
                    </div>
        
                </div>
            </div>
        </section>
    {{/if}}
    {{send-button model=model}} {{#each flashMessages.arrangedQueue as |flash|}} {{flash-message flash=flash}} {{/each}}
</main>