<div class="alert alert-kiwi" role="alert">
  <div class="d-flex flex-row justify-content-between">
    <a data-toggle="collapse" href="#collapseBanner" {{action toggleShowBanner}} role="button"
       aria-expanded="false" aria-controls="collapseBanner" aria-label="{{t 'toggleShowBanner'}}">
      {{"This app will not be fully functional after February 10, 2020"}}
    </a>
    {{#let (component 'external-link' text="View Announcement" href=announcementLink) as |label|}}
      {{label class="button2"}}
    {{/let}}
    <a data-toggle="collapse" href="#collapseBanner" {{action toggleShowBanner}} role="button"
       aria-expanded="false" aria-controls="collapseBanner" aria-label="{{t 'toggleShowBanner'}}">
      <img src="images/arrow-down.png" alt="{{"show More"}}">
    </a>
  </div>
  <div class="mt-3 {{if showBanner 'in' 'collapse'}}" id="collapseBanner">
    {{"The Nano Wallet Company (NWC) is discontinuing this wallet in favor of other superior wallets developed by the Nano community. Although the desktop app may continue to function as long as nodes on the network are peering with node V19.0 (protocol V17), it will take longer to sync a new install over time and we will no longer provide support for the application. As a result, we recommend another wallet option is used."}} 
    <b>{{"On February 10, 2020 the downloads that allow fast-syncing of the ledger will be turned off, resulting in even slower and longer bootstrapping times."}} </b>
    {{"Please securely copy and store your seed which will keep your Nano safe and allow you to use other wallets to send and receive. Instructions for saving your seed, information on finding a new wallet and other details can be found in our official announcement at "}}
    {{#let (component 'external-link' text=announcementLink href=announcementLink) as |label|}}
      {{label}}
    {{/let}}
    
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark">
  {{#link-to 'index' class="navbar-brand"}}
    <picture>
      <source type="image/svg+xml" srcset="{{root-url "images/brand-dark.svg"}}">
      <img height="20" src="{{root-url "images/brand-dark.png"}}" alt="{{t 'product'}}">
    </picture>
  {{/link-to}}
  <div class="ml-auto pr-3">
    <span class="navbar-text pb-0">
      {{status-tooltip}}
    </span>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" {{action toggleShow}} data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="{{t 'toggleNavigation'}}">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class=" {{if show 'in' 'collapse'}} navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav {{if show 'mt-10'}}">
      <li class="nav-item">
        {{#link-to 'index' class="nav-link"}}
          {{t 'overview'}}
        {{/link-to}}
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" {{action onCreateAccount wallet}}>
          {{fa-icon "plus-square"}} {{t 'wallets.overview.create'}}
        </a>
      </li>
      <li class="nav-item">
        {{#link-to 'wallets.overview.settings' wallet class="nav-link"}}
          {{t 'settings'}}
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'wallets.logout' wallet class="nav-link"}}
          {{t 'logout'}}
        {{/link-to}}
      </li>
    </ul>
  </div>
</nav>
