<nav class="navbar navbar-expand-lg navbar-dark">
  {{#link-to 'index' class="navbar-brand"}}
    <picture>
      <source type="image/svg+xml" srcset="{{root-url "images/brand-dark.svg"}}">
      <img height="20" src="{{root-url "images/brand-dark.png"}}" alt="{{t 'product'}}">
    </picture>
  {{/link-to}}
  <div class="ml-auto pr-3">
    <span class="navbar-text pb-0">
      {{status-tooltip}}
    </span>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" {{action toggleShow}} data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="{{t 'toggleNavigation'}}">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class=" {{if show 'in' 'collapse'}} navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav {{if show 'mt-10'}}">
      <li class="nav-item">
        {{#link-to 'index' class="nav-link"}}
          {{t 'overview'}}
        {{/link-to}}
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" {{action onCreateAccount wallet}}>
          {{fa-icon "plus-square"}} {{t 'wallets.overview.create'}}
        </a>
      </li>
      <li class="nav-item">
        {{#link-to 'wallets.overview.settings' wallet class="nav-link"}}
          {{t 'settings'}}
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'wallets.logout' wallet class="nav-link"}}
          {{t 'logout'}}
        {{/link-to}}
      </li>
    </ul>
  </div>
</nav>
