<div class="alert alert-kiwi" role="alert">
  <div class="d-flex flex-row justify-content-between">
    <a data-toggle="collapse" href="#collapseBanner" {{action toggleShowBanner}} role="button"
       aria-expanded="false" aria-controls="collapseBanner" aria-label="toggleShowBanner">
      This app will not be fully functional after [server shutdown date].
    </a>
    <a data-toggle="collapse" href="#collapseBanner" {{action toggleShowBanner}} role="button"
       aria-expanded="false" aria-controls="collapseBanner" aria-label="toggleShowBanner">
      <img src="images/arrow-down.png" />
    </a>
  </div>
  <div class="mt-3 {{if showBanner 'in' 'collapse'}}" id="collapseBanner">
    The Nano Wallet Company (NWC) is discontinuing this mobile wallet in favor of other superior wallets developed
    by the Nano community. On [server shutdown date] the servers will be turned off and this app will no longer be able to send or receive Nano.
    <b>Please securely copy and store your seed which will keep your Nano safe and allow you to use other wallets to send and receive.</b> Instructions and more details can be found
    in our official announcement.
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark">
  {{#link-to 'index' class="navbar-brand"}}
    <picture>
      <source type="image/svg+xml" srcset="{{root-url "images/brand-dark.svg"}}">
      <img height="20" src="{{root-url "images/brand-dark.png"}}" alt="{{t 'product'}}">
    </picture>
  {{/link-to}}
  <div class="ml-auto pr-3">
    <span class="navbar-text pb-0">
      {{status-tooltip}}
    </span>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" {{action toggleShow}} data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="{{t 'toggleNavigation'}}">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class=" {{if show 'in' 'collapse'}} navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav {{if show 'mt-10'}}">
      <li class="nav-item">
        {{#link-to 'index' class="nav-link"}}
          {{t 'overview'}}
        {{/link-to}}
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" {{action onCreateAccount wallet}}>
          {{fa-icon "plus-square"}} {{t 'wallets.overview.create'}}
        </a>
      </li>
      <li class="nav-item">
        {{#link-to 'wallets.overview.settings' wallet class="nav-link"}}
          {{t 'settings'}}
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'wallets.logout' wallet class="nav-link"}}
          {{t 'logout'}}
        {{/link-to}}
      </li>
    </ul>
  </div>
</nav>
