<section>
  <div class="contianer">
    <div class="row">
      <div class="col">
        <ul class="nav justify-content-center currency-tabs">
          <li class="nav-item">
            <a class="nav-link {{if (eq currency 'MIKRON') 'active'}}" href="#" {{action onChangeCurrency 'MIKRON' on='click'}}>
              {{t 'MIKRON'}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{if (eq currency 'BTC') 'active'}}" href="#" {{action onChangeCurrency 'BTC' on='click'}}>
              {{t 'BTC'}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{if (eq currency 'USD') 'active'}}" href="#" {{action onChangeCurrency 'USD' on='click'}}>
              {{t 'USD'}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{if (eq currency 'EUR') 'active'}}" href="#" {{action onChangeCurrency 'EUR' on='click'}}>
              {{t 'EUR'}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h1 class="balance">
            {{wallet-balance amount=wallet.balance currency=currency exchangeRate=exchangeRate}}
          </h1>
          <p class="pending">
            {{t 'balancePending'}}
            <br>
            <span>
              {{wallet-balance amount=wallet.pending currency=currency exchangeRate=exchangeRate}}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
