{{#link-to 'wallets.overview.accounts.history' account tagName='button' disabled=(not account.id)}}
  <div class="account-card-content">
    {{#if account.id}}
      {{#if hideHistory}}
        {{#link-to 'wallets.overview.accounts.settings' account bubbles=false class='settings' title=(t 'accountSettings')}}
          {{bs-tooltip fade=true delayShow=500 placement='top' title=(t 'accountSettings')}}
          {{fa-icon 'cog' ariaLabel=(t 'accountSettings')}}
        {{/link-to}}
        {{qr-code text=account.id width=170 height=170}}
      {{/if}}
      <p class="balance">
        <sup>
          <img src="images/nano-icon.svg" alt="{{t 'NANO'}}">
        </sup>
        {{format-amount account.balance}}
        <br>
        <sub>+{{format-amount account.pending}}</sub>
      </p>
      <div role="button" class="label" {{action (optional) bubbles=false}}>
        {{bs-tooltip fade=true delayShow=1000 placement='bottom' title=(t 'copyAddress')}}
        {{#copy-button tagName='div' class="d-flex flex-column justify-content-center" buttonType=null clipboardText=account.id success=(action 'copyAddress' (concat (slice 0 9 account.id) '...' (slice 59 64 account.id)))}}
          {{account-label class="flex-row w-100 align-self-center" account=account}}
        {{/copy-button}}
      </div>
    {{else}}
      {{fa-icon "spinner" size=5 spin=true ariaLabel=(t 'loading')}}
    {{/if}}
  </div>
{{/link-to}}
