{{#link-to 'wallets.overview.accounts.history' account class="text-decoration-none"}}
  <div class="account-card-content">
    {{#if account.id}}
      {{#liquid-if hideHistory class="hide-qr"}}
        {{qr-code text=account.id width=170 height=170}}
      {{/liquid-if}}
      <p class="balance">
        <sup>
          <img src="images/nano-icon.svg" alt="{{t 'NANO'}}">
        </sup>
        {{format-amount account.balance}}
        <br>
        <sub>+{{format-amount account.pending}}</sub>
      </p>
      {{#copy-button clipboardText=account.id}}
        {{account-address value=account.id}}
      {{/copy-button}}
    {{else}}
      {{fa-icon "spinner" size=5 spin=true ariaLabel=(t 'loading')}}
    {{/if}}
  </div>
{{/link-to}}
