{{#bs-modal onHide=(route-action 'cancel') onSubmit=(route-action 'logout') as |modal|}}
  {{#component modal.header}}
    <h4 class="modal-title">
      {{fa-icon 'exclamation-triangle' class="text-danger"}}
      {{t 'wallets.logout.title'}}
    </h4>
  {{/component}}
  {{#component modal.body}}
    <p class="lead">{{t 'wallets.logout.lead'}}</p>
    <p>{{t 'wallets.logout.warning' htmlSafe=true}}</p>
  {{/component}}
  {{#component modal.footer}}
    {{#bs-button onClick=(action modal.close) type="secondary"}}
      {{t 'cancel'}}
    {{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="danger"}}
      {{fa-icon 'sign-out-alt'}}
      {{t 'logout'}}
    {{/bs-button}}
  {{/component}}
{{/bs-modal}}
