{{outlet}}

<div class="jumbotron jumbotron-fluid" style="min-height: 100vh">
  <div class="container-fluid">
    <h1 class="display-3">
      <picture>
        <source type="image/svg+xml" srcset="images/brand-light.svg">
        <img class="img-fluid" width="500" src="images/brand-light.png" alt="{{t 'product'}}">
      </picture>
    </h1>
    <p class="lead">{{t 'setup.lead'}}</p>
    <hr class="my-4">
    <p>{{t 'setup.instructions'}}</p>
    {{#bs-button type="primary" block=true onClick=(route-action 'createWallet') }}
      {{t 'setup.create'}}
    {{/bs-button}}
    {{#bs-button type="secondary" block=true onClick=(route-action 'importWallet')}}
      {{t 'setup.import'}}
    {{/bs-button}}
    {{#bs-button type="secondary" block=true onClick=(route-action 'downloadDatabase')}}
      Download Database
    {{/bs-button}}
  </div>
</div>
