{{notification-center}}

<div class="row mx-0">
  <section class="setup float-left info d-none d-sm-flex col-sm-6 col-md-7 align-items-end justify-content-end">
    <div class="col-12 col-md-11 col-lg-8">
      <h1 class="mb-0 border-bottom-0">{{t 'setup.lead'}}</h1>
      <hr class="my-4">
      <h5>{{t 'setup.instructions'}}</h5>
      <br>
    </div>
  </section>
  <section class="setup float-left bg-white col-md-5 col-sm-6 col-12 d-flex justify-content-center align-items-center">
    <div class="row w-100 justify-content-center align-items-center">
      <div class="col-12 col-lg-9 col-md-11">
        <h1 class="display-3 border-bottom-0 mb-4">
          <picture>
            <source type="image/svg+xml" srcset="{{root-url "images/brand-light.svg"}}">
            <img class="img-fluid d-block w-50 mt-0 mx-auto mb-40" width="512" src="{{root-url "images/brand-light.png"}}" alt="{{t 'product'}}">
          </picture>
        </h1>

        {{liquid-outlet class="setup-step px-2"}}
      </div>
    </div>
  </section>
</div>
