<header role="banner">
  {{#bs-navbar type="dark" class="bg-dark" as |navbar|}}
    <a class="navbar-brand" href="#">
      <img src="raiblocks.png" width="30" height="30" class="d-inline-block align-top" alt="RaiBlocks">
      RaiWallet
    </a>

    <div class="ml-auto pr-3">
      <span class="navbar-text">
        {{#fa-icon "signal" class=(if status.isFulfilled 'text-success')}}
          {{#bs-tooltip}}
            <ul class="m-0 list-unstyled">
              <li><b>Status:</b> {{if status.isFulfilled 'Online' 'Connecting'}}</li>
              {{#if status.blocks.count}}
                <li><b>Block Count:</b> {{status.blocks.count}}</li>
              {{/if}}
              {{#if status.blocks.unchecked}}
                <li><b>Unchecked Blocks:</b> {{status.blocks.unchecked}}</li>
              {{/if}}
              {{#if status.peers.length}}
                <li><b>Peers:</b> {{status.peers.length}}</li>
              {{/if}}
            </ul>
          {{/bs-tooltip}}
        {{/fa-icon}}
      </span>
    </div>

    {{navbar.toggle}}

    {{#navbar.content}}
      {{#navbar.nav as |nav|}}
        {{#nav.item}}
          {{#nav.link-to 'wallets.overview' model}}
            Overview
          {{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'wallets.send' model}}
            Send
          {{/nav.link-to}}
        {{/nav.item}}
      {{/navbar.nav}}
    {{/navbar.content}}
  {{/bs-navbar}}
</header>

<main role="main" class="container-fluid">
  {{bread-crumbs tagName="ol" linkable=true crumbClass="breadcrumb-item"}}

  <div class="row">
    <div class="col">
      {{outlet}}
    </div>
  </div>
</main>
