<header role="banner">
  {{#bs-navbar type="dark" class="bg-dark" as |navbar|}}
    <a class="navbar-brand" href="#">
      <picture>
        <source type="image/svg+xml" srcset="images/brand-dark.svg">
        <img height="40" src="images/brand-dark.png" alt="{{t 'product'}}">
      </picture>
    </a>

    <div class="ml-auto pr-3">
      <span class="navbar-text">
        {{#fa-icon "signal" class=(if status.isFulfilled 'text-success')}}
          {{#bs-tooltip}}
            <ul class="m-0 list-unstyled">
              <li><b>{{t 'status.state'}}:</b> {{if status.isFulfilled (t 'status.online') (t 'status.connecting')}}</li>
              {{#if status.isFulfilled}}
                <li><b>{{t 'status.count'}}:</b> {{status.blocks.count}}</li>
                <li><b>{{t 'status.unchecked'}}:</b> {{status.blocks.unchecked}}</li>
                <li><b>{{t 'status.peers'}}:</b> {{status.peers.length}}</li>
              {{/if}}
            </ul>
          {{/bs-tooltip}}
        {{/fa-icon}}
      </span>
    </div>

    {{navbar.toggle}}

    {{#navbar.content}}
      {{#navbar.nav as |nav|}}
        {{#nav.item}}
          {{#nav.link-to 'wallets.overview' model}}
            {{t 'overview'}}
          {{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to 'wallets.send' model}}
            {{t 'send'}}
          {{/nav.link-to}}
        {{/nav.item}}
      {{/navbar.nav}}
    {{/navbar.content}}
  {{/bs-navbar}}
</header>

<main role="main" class="container-fluid">
  {{bread-crumbs tagName="ol" linkable=true crumbClass="breadcrumb-item"}}

  {{#each flashMessages.arrangedQueue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}

  <div class="row">
    <div class="col">
      {{outlet}}
    </div>
  </div>
</main>
