<div class="card mb-2 {{if changeRep 'border-danger' 'border-secondary'}}">
  <div class="card-header {{if changeRep 'bg-danger'}}" {{action (toggle 'changeRep' this)}} role="button">
    <div class="row align-items-center">
      <div class="col">
        <p class="h4 {{if changeRep 'text-white mb-0'}}">
          Representative
        </p>
        {{#unless changeRep}}
          <h6 class="text-muted text-monospace {{unless changeRep 'mb-0'}}">{{representative}}</h6>
        {{/unless}}
      </div>
      <div class="col-auto {{if changeRep 'text-white'}}">
        {{fa-icon (if changeRep 'unlock' 'lock') ariaLabel=(t 'reveal') size="3" ariaHidden=false}}
      </div>
    </div>
  </div>
  {{#liquid-if changeRep}}
    <div class="card-body p-3">
      {{#bs-form model=(changeset (hash representative=representative) ChangeRepresentativeValidations) onSubmit=(action onChangeRepresentative wallet) as |form|}}
        {{#form.element controlType="text" invisibleLabel='Representative' property='representative'
      minlength=64 maxlength=65 required=true pattern="^(xrb|nano)(_|-)[13](?![lv])[a-z1-9]{59}$" as |el|}}
          {{el.control class="text-truncate text-monospace"}}
        {{/form.element}}
        {{#bs-button buttonType="submit" type="warning" icon="fa fa-cubes" class="w-100"}}
          {{t 'wallets.settings.changeRepresentative'}}
        {{/bs-button}}
      {{/bs-form}}
    </div>
  {{/liquid-if}}
</div>

<div class="card mb-2 {{if revealSeed 'border-danger' 'border-secondary'}}">
  <div class="card-header {{if revealSeed 'bg-danger'}}" {{action (toggle 'revealSeed' this)}} role="button">
    <div class="row align-items-center">
      <div class="col">
        <p class="h4 mb-0 {{if revealSeed 'text-white'}}">
          {{t 'seed'}}
        </p>
      </div>
      <div class="col-auto {{if revealSeed 'text-white'}}">
        {{fa-icon (if revealSeed 'unlock' 'lock') ariaLabel=(t 'reveal') size="3" ariaHidden=false}}
      </div>
    </div>
  </div>
  {{#liquid-if revealSeed}}
    <div class="card-body p-3">
      {{#bs-form model=(changeset (hash seed=seed)) as |form|}}
        {{#form.element property="seed" as |el|}}
          <input id={{el.id}} type="text" class="form-control text-monospace" value={{seed}} aria-label={{t 'seed'}}>
          
        {{/form.element}}
        <div class="row">
          <div class="col-auto pr-0">
            {{qr-code text=seed width=170 height=170}}
          </div>
          <div class="col">
            <div class="alert alert-danger">
              <h4 class="alert-heading">
                Warning!
              </h4>
              <hr>
              <p>
                Seed must be backed up yada yada
              </p>
            </div>
          </div>
        </div>
      {{/bs-form}}
    </div>
  {{/liquid-if}}
</div>

<div class="card mb-2 {{if revealMnemonic 'border-danger' 'border-secondary'}}">
  <div class="card-header {{if revealMnemonic 'bg-danger'}}" {{action (toggle 'revealMnemonic' this)}} role="button">
    <div class="row align-items-center">
      <div class="col">
        <p class="h4 mb-0 {{if revealMnemonic 'text-white'}}">
          Mnemonic Seed
        </p>
      </div>
      <div class="col-auto {{if revealMnemonic 'text-white'}}">
        {{fa-icon (if revealMnemonic 'unlock' 'lock') ariaLabel=(t 'reveal') size="3" ariaHidden=false}}
      </div>
    </div>
  </div>
  {{#liquid-if revealMnemonic}}
    <div class="card-body">
      <div class="alert alert-danger">
        <p>
          Seed must be backed up yada yada
        </p>
      </div>
      <code class="text-center">
        {{mnemonic seed}}
      </code>
      {{#bs-form}}
        <div class="row">
          <div class="col-6">
            {{#copy-button class="btn btn-outline-danger w-100" clipboardText=(mnemonic seed) success=(action 'copyMnemonic')}}
              {{fa-icon 'copy'}} {{t 'wallets.backup.copy'}}
            {{/copy-button}}
          </div>
          <div class="col-6">
            {{#bs-button onClick=(action 'downloadMnemonic' (mnemonic seed)) block=true type="outline-primary" icon="fa fa-download"}}
              {{t 'wallets.backup.download'}}
            {{/bs-button}}
          </div>
        </div>
      {{/bs-form}}
    </div>
  {{/liquid-if}}
</div>




<div class="card mb-2 {{if changePass 'border-danger' 'border-secondary'}}">
  <div class="card-header {{if changePass 'bg-danger'}}" {{action (toggle 'changePass' this)}} role="button">
    <div class="row align-items-center">
      <div class="col">
        <p class="h4 mb-0 {{if changePass 'text-white'}}">
          {{t 'password'}}
        </p>
      </div>
      <div class="col-auto {{if changePass 'text-white'}}">
        {{fa-icon (if changePass 'unlock' 'lock') ariaLabel=(t 'reveal') size="3" ariaHidden=false}}
      </div>
    </div>
  </div>
  {{#liquid-if changePass}}
    <div class="card-body">
      {{#wallet-password wallet=wallet onSubmit=(action onChangePassword)}}
        {{#bs-button buttonType="submit" type="danger" icon="fa fa-key" class="w-100"}}
          {{t 'wallets.settings.changePassword'}}
        {{/bs-button}}
      {{/wallet-password}}
    </div>
  {{/liquid-if}}
</div>