{{#bs-form model=(changeset (hash seed=seed mnemonic=(mnemonic seed) showMnemonic=showMnemonic representative=representative) ChangeRepresentativeValidations) onSubmit=(action onChangeRepresentative wallet) as |form|}}
  {{#form.element label=(t 'seed') property="seed" as |el|}}
    {{password-toggle inputId=el.id label=(t 'seed') value=el.value placeholder=(t 'unknown') readonly=true}}
  {{/form.element}}

  {{#if showMnemonic}}
    {{#form.element rows=4 controlType="textarea" property="mnemonic" label=(t 'mnemonic') autocomplete='off' readonly="readonly" as |el|}}
      <div class="input-group">
        {{el.control class="text-monospace"}}
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary" {{action (toggle 'showMnemonic' this)}}>
            {{fa-icon 'eye-slash' ariaLabel=(t 'reveal')}}
          </button>
        </div>
      </div>
    {{/form.element}}    
  {{else}}
    {{#form.element label=(t 'mnemonic') property="mnemonic" as |el|}}
      <div class="input-group">
        <input id={{el.id}} type='password' class="form-control" value={{el.value}} aria-label={{t 'seed'}} placeholder={{t 'unknown'}} readonly="readonly">
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary" {{action (toggle 'showMnemonic' this)}}>
            {{fa-icon 'eye' ariaLabel=(t 'reveal')}}
          </button>
        </div>
      </div>
    {{/form.element}}
  {{/if}}
  
  <hr>

  {{#form.element controlType="text" label=( t 'wallets.settings.defaultRepresentative') property='representative'
      minlength=64 maxlength=65 required=true pattern="^(mik|xrb)(_|-)[13](?![lv])[a-z1-9]{59}$" as |el|}}
    {{el.control class="text-truncate text-monospace"}}
  {{/form.element}}

  {{#bs-button buttonType="submit" type="warning" icon="fa fa-cubes" class="w-100"}}
    {{t 'wallets.settings.changeDefaultRepresentative'}}
  {{/bs-button}}
{{/bs-form}}

<hr>

{{#wallet-password wallet=wallet onSubmit=(action onChangePassword)}}
  {{#bs-button buttonType="submit" type="danger" icon="fa fa-key" class="w-100"}}
    {{t 'wallets.settings.changePassword'}}
  {{/bs-button}}
{{/wallet-password}}

<hr>

{{#bs-form model=(changeset (hash nodeId=nodeId)) as |form2|}}
  {{#form2.element controlType="text" label=(t 'wallets.settings.nodeId') property="nodeId" readonly=true as |el|}}
    {{el.control class="text-truncate text-monospace"}}
  {{/form2.element}}
{{/bs-form}}

<table>
  <tr>
    <td>
      {{#bs-form model=(changeset (hash nodeId=nodeId)) onSubmit=(action onNodeIdReset wallet)}}
        {{#bs-button buttonType="submit" type="warning" class="w-100"}}
          {{t 'wallets.settings.resetNodeId'}}
        {{/bs-button}}
      {{/bs-form}}
    </td>
    <td>
      {{#bs-form model=(changeset (hash nodeId=nodeId)) onSubmit=(action onNodeIdSet wallet wallet)}}
        {{#bs-button buttonType="submit" type="warning" class="w-100"}}
          {{t 'wallets.settings.setNodeId'}}
        {{/bs-button}}
      {{/bs-form}}
    </td>
  </tr>
  <tr>
    <td>
      {{t 'wallets.settings.resetNodeIdHint'}}
    </td>
    <td>
      {{t 'wallets.settings.setNodeIdHint'}}
    </td>
  </tr>
</table>
