{{#let (changeset block SendValidations) as |model|}}
  {{#bs-form model=model onSubmit=(action onSubmit) as |form|}}
    {{#form.element controlType="power-select" label=(t 'wallets.accounts.send.source')
        required=true options=accounts property='source' onChange=(action onChange) as |el|}}
      {{#el.control searchField="id" searchPlaceholder=(t 'wallets.accounts.send.search') as |item|}}
        {{#let (or (get item.content 'content') item) as |content|}}
          <div>
            {{account-label account=content truncate=30}}
            {{format-amount content.balance}} {{t 'MIKRON'}}
          </div>
        {{/let}}
      {{/el.control}}
    {{/form.element}}

    {{form.element controlType="text" label=(t 'wallets.accounts.send.destination') property="destination"
        autocomplete='on' minlength=64 maxlength=65 required=true pattern="^(mik|xrb)(_|-)[13](?![lv])[a-z1-9]{59}$"
        placeholder=(t 'wallets.accounts.send.placeholder')}}

    {{#let (changeset (hash intl=intl block=block amount=null) ChangeAmountValidations)
           (format-amount (or (get model.source.balance 'content') model.source.balance) useGrouping=false)
        as |childModel max|}}
      {{#form.element
          min=0
          max=max
          step="any"
          controlType="text"
          label=(t 'wallets.accounts.send.amount')
          model=childModel
          property='amount'
          required=true
          minlength=1
          showValidationOn='change'
          onChange=(action 'changeAmount' model) as |el|}}
        <div class="input-group {{el.validation}}">
          {{el.control}}
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary"
                title={{t 'totalAvailableBalance'}}
                disabled={{if (not model.source) 'disabled'}}
                onclick={{action 'changeAmount' model max childModel}}>
              {{t 'max'}}
            </button>
          </div>
        </div>
      {{/form.element}}
    {{/let}}

    <div role="group" class="d-flex justify-content-center">
      {{#bs-button disabled=(or model.isInvalid block.isSaving) size="lg" type="none" buttonType="submit" class="text-light"}}
        {{#if block.isSaving}}
          {{fa-icon "cog" spin=true}}
          {{t 'sending'}}
        {{else}}
          {{fa-icon "envelope"}}
          {{t 'send'}}
        {{/if}}
      {{/bs-button}}
    </div>
  {{/bs-form}}
{{/let}}
