<div class="col-lg-10 col-11 history-item send d-flex justify-content-around align-items-center">
  {{#if (eq entry.type 'send')}}
    {{fa-icon "paper-plane" ariaHidden=true class="send"}}
  {{else}}
     {{fa-icon "envelope-open" ariaHidden=true class="receive"}}
  {{/if}}
  <p>
    <sup>
      <img src="images/nano-icon.svg" alt="{{t 'NANO'}}">
    </sup>
    {{format-amount entry.amount}}
  </p>
  <p class="text-truncate">
    {{account-address value=entry.account}}
  </p>
</div>
