{{!-- Total Balance: {{model.balance}}
{{qr-code content=model.id}} --}}

<div class="card-group">
  <div class="card">
    {{qr-code class="card-img-top" content=model.id}}
    <div class="card-body">
      <h4 class="card-title">{{model.id}}</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    {{qr-code class="card-img-top" content=model.id}}
    <div class="card-body">
      <h4 class="card-title">{{model.id}}</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <{{qr-code class="card-img-top" content=model.id}}
    <div class="card-body">
      <h4 class="card-title">{{model.id}}</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>