<div class="card-group">
  <div class="card">
    <h5 class="card-header text-center text-truncate" title="{{model.id}}">
      {{model.id}}
    </h5>

    <div class="card-body">
      <div class="d-flex justify-content-center">
        {{qr-code content=model.id}}
      </div>

      <dl class="row justify-content-md-center">
        <dt class="col-md-3">Account</dt>
        <dd class="col-md-9 text-truncate" title="{{model.id}}">{{model.id}}</dd>

        <dt class="col-md-3">Balance</dt>
        <dd class="col-md-9 text-truncate" title="{{model.balance}}">{{model.balance}}</dd>

        <dt class="col-md-3">Pending</dt>
        <dd class="col-md-9 text-truncate" title="{{model.pending}}">{{model.pending}}</dd>
      </dl>

      {{#link-to 'wallets.send' model.wallet class="card-link"}}
        Send
      {{/link-to}}

      {{#link-to 'wallets.send' model.wallet class="card-link"}}
        Receive
      {{/link-to}}
    </div>
  </div>
</div>
