<h4>{{t 'wallets.import.title'}}</h4>
{{#let (changeset (hash type=type seed=seed mnemonic=(mnemonic seed)) ImportWalletValidations) as |model|}}
  {{#bs-form model=model onSubmit=(action (queue (action 'convertMnemonic') (action 'saveWallet' wallet) (action onSubmit wallet) (action 'clearSeed'))) as |form|}}
    {{#form.group}}
      {{#bs-button-group type="radio" property="type" value=type onChange=(action (queue (action (mut model.type)) (action onChange))) as |bg|}}
        {{#bg.button type="secondary" value='seed'}}
          {{t 'seed'}}
        {{/bg.button}}
        {{#bg.button type="secondary" value='mnemonic'}}
          {{t 'mnemonic'}}
        {{/bg.button}}
      {{/bs-button-group}}
    {{/form.group}}

    {{#form.group}}
      {{#if (eq type 'seed')}}
        {{form.element size='lg' controlType="text" property="seed" autocomplete='off' minlength=64 maxlength=64 required=true pattern="^[a-fA-F0-9]{64}$"}}
        <small class="form-text text-muted">{{t 'wallets.import.help.seed'}}</small>
      {{/if}}

      {{#if (eq type 'mnemonic')}}
        {{#form.element rows=4 controlType="textarea" property="mnemonic" autocomplete='off' required=true as |el|}}
          {{el.control class="text-monospace"}}
        {{/form.element}}
        <small class="form-text text-muted">{{t 'wallets.import.help.mnemonic'}}</small>
      {{/if}}
    {{/form.group}}
    <button type="button" {{action onCancel}} class="btn btn-secondary btn-lg">
      {{t 'cancel'}}
    </button>
    {{#bs-button buttonType="submit" class="btn-lg" type="primary"}}
      {{fa-icon 'upload'}}
      {{t 'import'}}
    {{/bs-button}}
  {{/bs-form}}
{{/let}}

{{!-- <button type="button" {{action 'onSubmit'}} class="btn btn-primary btn-lg">{{fa-icon 'upload'}} {{t 'import'}}</button> --}}
