<p class="lead">
  Total Balance: <span class="text-muted">&#11041;</span> {{format-amount wallet.balance}}
</p>

<p class="small text-muted">
  Wallet: {{wallet.id}}
</p>

{{page-numbers content=content currentPage=page totalPages=totalPages}}

{{#light-table table tableClassNames='table table-striped' height='auto' as |t|}}
  {{t.head}}

  {{#t.body canSelect=false as |body|}}
    {{#if (is-pending content)}}
      {{#body.loader}}
        {{fa-icon 'refresh' size=3 spin=true ariaLabel="Loading..."}}
      {{/body.loader}}
    {{/if}}

    {{#if table.isEmpty}}
      {{#body.no-data}}
        No accounts in wallet.
      {{/body.no-data}}
    {{/if}}
  {{/t.body}}
{{/light-table}}

{{!-- {{#if wallet.accounts}}
  <table class="table table-striped table-responsive">
    <caption class="sr-only">All your accounts</caption>
    <thead>
      <tr>
        <th scope="col">Account</th>
        <th scope="col">Balance</th>
        <th scope="col">Pending</th>
      </tr>
    </thead>
    <tbody>
      {{#each wallet.accounts as |acc|}}
        <tr scope="row">
          <td>
            {{#link-to 'wallets.accounts' wallet acc}}
              {{truncate acc.id 30}}
            {{/link-to}}
          </td>
          <td>
            {{format-amount acc.balance}}
          </td>
          <td>
            {{format-amount acc.pending}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}} --}}

{{#bs-button type="primary" icon="fa fa-plus-circle" value=wallet onClick=createAccount}}
  Create Account
{{/bs-button}}
